{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for conference in conferences %}
                <tr>
                    <td><a href="{{ path('conference', {id: conference.id}) }}">{{ conference.city }}</a></td>
                    <td>{{ conference.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/kotkovdev/Projects/symfony-learn/src/Controller/ConferenceController.php'|file_link(0) }}">src/Controller/ConferenceController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/kotkovdev/Projects/symfony-learn/templates/conference/index.html.twig'|file_link(0) }}">templates/conference/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
